# To use picturefill for older browsers that don't recoginize img srcset
# picturefill docs and useage page: http://scottjehl.github.io/picturefill/
# values are true or false.
# true means "yes use picturefill"
# false means "no I don't want to use picturefill"
picturefill: true


# Default Thumbnail and size settings
# These will be global image thumbnail sizes, cropping method, the W or X descriptor on images and if you want
# different alt text other than the file name : recomended for accessibility to put a something descriptive of the image here.
#  * we use heights: [ 0 ] for proportional scaling of the image
#  * we use the 'w' descriptor in "widthDensity". 'x' is also allowed.
#  * we also use strings in the array for the sizes attribute ex: sizes: [ '(min-width: 40em) 80vw', '100vw' ]
#  * if you only want one size (ex: 100vw) then it looks as follows: sizes: [ '100vw' ]
#  * lazyLoad is set to false here. You can enable lazyLoading which uses LazySizes (https://github.com/aFarkas/lazysizes)
default:
  widths: [ 320, 480, 768 ]
  heights: [ 0 ]
  widthDensity: 'w'
  lazyLoad: false
  sizes: [ '100vw'  ]
  cropping: resize
  altText:
  class:



articles:
  widths: [ 340, 680, 1260 ]
  heights: [ 0 ]
  widthDensity: 'w'
  sizes: [ '(min-width: 40em) 80vw', '100vw' ]
  cropping: fit
  altText:
  class:


# ----------------------------------------------------------------------------------
#     More Examples
# ----------------------------------------------------------------------------------

# Screen Density Example
# 1. Set our own widths
# 2. Use 0 for heights
# 3. Set our own resolutions


screenDensity:
  widths: [ 300, 600, 800, 1200 ]
  heights: [ 0 ]
  widthDensity: 'x'
  resolutions: [ 1, 2, 2.5, 3 ]
